<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="SimpleApp" Language="1033" Version="0.0.0" Manufacturer="DefNotCrawf"
    UpgradeCode="9c8e59f9-4230-44ea-80b8-796ebfa618dd">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MediaTemplate />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SimpleApp" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="SimpleApp" />
      </Directory>
    </Directory>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="3e01f798-188d-45ac-aa4d-b72cd26f42b4">
        <File Source="dist\main\main.exe" KeyPath="yes" />
        <File Source="dist\main\help.txt" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="d8c9f1f2-0f35-4329-a19a-2b2bf52180f5">
        <Shortcut Id="UninstallShortcut"
          Name="Uninstall SimpleApp"
          Description="Uninstall SimpleApp from this computer."
          Target="[SystemFolder]msiexec.exe"
          Arguments="/x [ProductCode]"
          WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveAppProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\SimpleApp" Name="installed" Type="integer"
          Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <Feature Id="DefaultFeature" Title="SimpleApp"
      Description="Installs SimpleApp and its resources." Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
  </Product>
</Wix>